<h3>
  Update Profile
</h3>
<hr>
<%= form_for([@user, @profile]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :hometown %>
    <%= f.text_field :hometown, @profile.hometown %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>