
  <aside class="span4">
    <section>
      <h3>
        <%= @user.name %>
      </h3>
      <hr>
      <%= render '/users/profile' %>
    </section>
    <section>
      <% if @user != current_user %>
          <h3>
            Mutual Friends
            (<%= @mutual_friends.count ? @mutual_friends.count: 0 %>)
          </h3>
          <hr>
          <% if @mutual_friends.any? %>
              <% @mutual_friends.each do |m| %>
                  <h4>
                    <%= link_to m.name, user_path(m) %>
                  </h4>
              <% end %>
          <% else %>
              You have no friends in common
          <% end %>
      <% end %>
    </section>
    <%= render 'shared/list_friends' %>

  </aside>
  <div class="span7 offset1">
    <%= render '/shared/post_to_wall' %>
    <%= render '/shared/wall' %>
  </div>
