<div class="row">
    <aside class="span4">
      <section>
        <h3>
          Friend Requests
        </h3>
        <hr>
        <% if @incoming.any? %>
          <% @incoming.each do |i| %>
              <h4>
                <%= i.name %>
              </h4>
              <h4>
                <%= render 'shared/accept_friend', object:i %>
                <%= render 'shared/deny_friend', object:i %>
              </h4>
           <% end %>
        <% else %>
            No friend requests at this time
        <% end %>
      </section>
      <%= render 'shared/list_friends' %>
    </aside>

    <div class="span7">
      <%= render 'users/edit_profile' %>
    </div>
</div>