<div class="row">
    <aside class="span4">
      <section>
        <% if @incoming %>
          <h3>
            Friend Requests
          </h3>
          <hr>

          <% @incoming.each do |i| %>
              <h4>
                <%= i.name %>
              </h4>
              <h4>
                <%= render 'shared/accept_friend', object:i %>
                <%= render 'shared/deny_friend', object:i %>
              </h4>
           <% end %>
        <% end %>
      </section>
      <section>
        <h3>
          Your Friends
        </h3>
        <hr>
        <% if @friends %>
            <% @friends.each do |f|%>
                <h4 class="row">
                  <%= link_to f.name, user_path(f)%>
                  <%= render 'shared/unfriend', object:f %>
                </h4>
            <% end %>
        <% end %>
      </section>
    </aside>

    <div class="span7">
      <%= render 'users/edit_profile' %>
    </div>
</div>