<div class="row" >
  <aside class="span4">
    <h3>Search People</h3>
    <hr>
    <%= form_tag search_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search by Last Name" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-mini" %>
        </p>
    <% end %>
  </aside>
  <div class="span7 offset1">
    <h3>Search Results for: <%= @search %></h3>
    <hr>
    <% if not @users.nil? %>
        <% @users.each do |f|%>
            <h4>
              <%= link_to f.name, user_path(f) %>
              <% if !@friends.include?(f) and !@incoming.include?(f) and !@outgoing.include?(f) and f != current_user %>
                <%= link_to "Request Friend", friend_request_user_path(f), class:"btn btn-primary btn-mini" %>
              <% end %>
            </h4>
        <% end %>
    <% end %>

  </div>

</div>