
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= @user.name %>
      </h3>
      <hr>
      <p>
        profile info will go here
      </p>
    </section>
    <section>
      <% if @mutual_friends.any? and @user != current_user %>
      <h3>Mutual Friends</h3>
      <hr>
        <% @mutual_friends.each do |m| %>
          <%= m.name %>
        <% end %>
      <% end %>
    </section>
    <section>
      <h3><%= "#{@user.first_name}'s friends" %>   </h3>
      <hr>
      users friends go here
    </section>

  </aside>
  <div class="span7 offset1">

     <%= render '/shared/post_to_wall' %>

     <% if @user.wall.microposts.any? %>
        <h3>
           <%= if current_user == @user
                "Your "
              else
                "#{@user.first_name}'s "
              end
           %>
          Wall
        </h3>
        <ul class="microposts">
          <%= render @microposts %>
        </ul>
     <% end %>
  </div>
</div>