<div class="row">
    <p id="notice"><%= notice %></p>
    <aside class="span4">
    <h3 class="author">
      <%= link_to @micropost.user.name, user_path(@micropost.user)%> posted
    </h3>
    <h3>
      <% if not @micropost.user == @micropost.wall.user %>
          on <%= link_to @micropost.wall.user.name, user_path(@micropost.wall.user) %>'s wall
      <% end  %>
    </h3>
     <hr>
    <div class="content">
      <%= @micropost.content %>
    </div>

      <% if current_user?(@micropost.user) %>
          <%= render 'shared/delete_micropost', object: @micropost %>
      <% end %>


      <div class="post-bar">
        <div class="like like-btn" id="<%= @micropost.id %>_like_form">
          <%= render 'likes/like_button', object: @micropost %>
        </div>
        <div class="like" id="<%= @micropost.id %>_likes">
          Likes: <%= @micropost.likes.count ? @micropost.likes.count : 0 %>
        </div>
      </div>
      <div style="border-bottom: 1px solid #e8e8e8;clear:both;position:relative;top:-25px"></div>
    </aside>
    <div class="span7 offset1">
      <h3>Comments on this Post</h3>
      <hr>
      <%= render '/microposts/comments' %>
      <%= render 'microposts/post_comment' %>
    </div>

</div>
