<div class="row">
    <p id="notice"><%= notice %></p>
    <aside class="span4">
    <h3 class="author">
      <%= link_to @micropost.user.name, user_path(@micropost.user)%> posted
    </h3>
    <h3>
      <% if not @micropost.user == @micropost.wall.user %>
          on <%= link_to @micropost.wall.user.name, user_path(@micropost.wall.user) %>'s wall
      <% end  %>
    </h3>
     <hr>
    <p><%= @micropost.content %></p>

      <% if current_user?(@micropost.user) %>
          <%= render 'shared/delete_micropost', object: @micropost %>
      <% end %>
    </aside>
    <div class="span7 offset1">
      <h3>Comments on this Post</h3>
      <hr>
      <%= render '/microposts/comments' %>
      <%= render 'microposts/post_comment' %>
    </div>
</div>
